.client-nav {
    border-radius: 12px;
    height: 80px;
    padding: 20px 30px;
    margin: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    /* width: 100%; */
}

.icon-div {
    height: 26px;
    width: 26px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.active {
  background-color: #FFE4E9 !important;
  padding: 10px;
}

.menu-link {
  font-size: 14px;
  color: #fff;
  font-weight: 400 !important;
}

@media (max-width:768px) {
    .client-nav {
        border-radius: none;
        height: 80px;
        padding: 20px 10px;
        margin: 0 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        /* width: 100%; */
    }
    .menu-link {
        color: #505255;
        font-size: 16px;
        font-weight: 600;
    }
    .active {
        background-color: transparent !important;
        padding: 0px;
    }
    .prim-bg {
        background-color: #fff !important;
    }
}

.incomplete {
    color: #670318;
    background-color: #FFF6F8;
    border: 1px solid #FFC8D2;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
}
.incomplete-des {
    color: #820116;
    font-size: 14px;
}

/* cards and other components */
.info-card {
    min-height: 112px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.3);
}

/* workers component */
.filter-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.worker-tab-item {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #e2e2e2;
    padding: 6px 10px;
    border-radius: 5px;
}

.ant-tabs-tab-active .worker-tab-item {
    border: 1px solid var(--Primary-Colour, #670316) !important;
}
.ant-tabs-nav-wrap {
  border-radius: 5px;
  background: #fff;
  padding: 20px 11px 0px 10px !important;
  gap: 11px;
}

.ant-tabs-tab {
  color: var(--Primary-Colour, #670316);
  font-family: "Open Sans";
  font-size: 14px !important;
  font-style: normal;
  line-height: normal;
}
.ant-tabs-tab-active {
  border-radius: 5px !important;
  border-radius: none !important;
  display: flex;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

/* Worker's card */
.ant-segmented {
    border-radius: 50px !important;
    padding: 5px 20px !important;
    font-size: 16px !important;
}
.ant-segmented-item-selected {
    border: 1px solid var(--Primary-Colour, #670316) !important;
    border-radius: 50px !important;
    color: #670316 !important;
    font-weight: 500 !important;
}
a {
    color: #667085  !important;
}
.ant-pagination {
    width: 100%;
}
.ant-pagination-next, .ant-pagination-prev {
    width: 100%;
}
.workers-card {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}
.booking-card {
    width: 100%;
    padding: 20px;
    /* display: flex; */
    /* gap: 10px; */
    background-color: #fff;
    min-height: 205px;
}